EXPLORATORY DATA ANALYSIS

In [1]:
import pandas as pd
import sqlite3

In [2]:
#creating database connection
conn = sqlite3.connect('inventory.db')

In [3]:
#to check which tables are present in the database
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'",conn)
tables

                       name
0       BegInvFINAL12312016
1       EndInvFINAL12312016
2  InvoicePurchases12312016
3         PurchasePricesDec
4    PurchasesFINAL12312016
5        SalesFINAL12312016
6           SalesFINAL_Copy
7      vendor_sales_summary

In [4]:
for table in tables['name']:
    print('-'*50, f'{table}','-'*50)
    print("Count of records:", pd.read_sql(f"select count(*) as count from {table}", conn)['count'].values[0])
    display(pd.read_sql(f"select * from {table} limit 5", conn))

-------------------------------------------------- BegInvFINAL12312016 --------------------------------------------------
Count of records: 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2016-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2016-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2016-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2016-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2016-01-01

-------------------------------------------------- EndInvFINAL12312016 --------------------------------------------------
Count of records: 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2016-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2016-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2016-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2016-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2016-12-31

-------------------------------------------------- InvoicePurchases12312016 --------------------------------------------------
Count of records: 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2016-01-04,8124,2015-12-21,2016-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2016-01-07,8137,2015-12-22,2016-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2016-01-09,8169,2015-12-24,2016-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2016-01-12,8106,2015-12-20,2016-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2016-01-07,8170,2015-12-24,2016-02-12,1935,15527.25,429.20,None

-------------------------------------------------- PurchasePricesDec --------------------------------------------------
Count of records: 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

-------------------------------------------------- PurchasesFINAL12312016 --------------------------------------------------
Count of records: 2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2015-12-21,2016-01-02,2016-01-04,2016-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2015-12-24,2016-01-02,2016-01-09,2016-02-16,21.32,5,106.60,1

-------------------------------------------------- SalesFINAL12312016 --------------------------------------------------
Count of records: 1048575

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName,SalesYear,SalesMonth
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/1/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY,None,None
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,1/2/2016,750,1,1.57,12546,JIM BEAM BRANDS COMPANY,None,None
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/3/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY,None,None
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,1/8/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY,None,None
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,1/9/2016,375,1,0.79,12546,JIM BEAM BRANDS COMPANY,None,None

-------------------------------------------------- SalesFINAL_Copy --------------------------------------------------
Count of records: 1048575

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName,SalesYear,SalesMonth
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/1/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY,None,None
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,1/2/2016,750,1,1.57,12546,JIM BEAM BRANDS COMPANY,None,None
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/3/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY,None,None
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,1/8/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY,None,None
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,1/9/2016,375,1,0.79,12546,JIM BEAM BRANDS COMPANY,None,None

-------------------------------------------------- vendor_sales_summary --------------------------------------------------
Count of records: 179369

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,...,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRatio,SalesContributionPercent,VendorRanking
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.6,197.0,...,7090.03,1871.48,361.98,68601.68,-3804161.57,-53655.084252,0.001358,0.001860,0.021462,56852.0
1,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.6,210.0,...,7557.90,2015.44,385.81,68601.68,-3803693.70,-50327.388560,0.001447,0.001983,0.022879,55968.0
2,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.6,167.0,...,6010.33,1439.60,306.83,68601.68,-3805241.27,-63311.686214,0.001151,0.001577,0.018194,58964.0
3,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.6,120.0,...,4318.80,1403.61,220.47,68601.68,-3806932.80,-88147.929981,0.000827,0.001133,0.013074,62004.0
4,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.6,199.0,...,7162.01,1691.53,365.65,68601.68,-3804089.59,-53114.832149,0.001372,0.001879,0.021680,56710.0

In [5]:
purchases = pd.read_sql_query("select * from PurchasesFINAL12312016 where VendorNumber = 4466", conn)
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,4,37.40,1
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05,1
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,6,56.10,1
3,38_GOULCREST_5215,38,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2015-12-27,2016-01-07,2016-01-19,2016-02-26,9.41,6,56.46,1
4,59_CLAETHORPES_5215,59,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2015-12-27,2016-01-05,2016-01-19,2016-02-26,9.41,6,56.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,81_PEMBROKE_5215,81,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2016-12-20,2016-12-29,2017-01-04,2017-02-10,9.41,6,56.46,1
2188,62_KILMARNOCK_5255,62,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2016-12-20,2016-12-28,2017-01-04,2017-02-10,9.35,5,46.75,1
2189,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2016-12-20,2016-12-28,2017-01-04,2017-02-10,9.41,5,47.05,1
2190,6_GOULCREST_5215,6,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2016-12-20,2016-12-31,2017-01-04,2017-02-10,9.41,6,56.46,1
2191,35_HALIVAARA_5255,35,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2016-12-20,2016-12-27,2017-01-04,2017-02-10,9.35,5,46.75,1

In [6]:
purchase_prices = pd.read_sql_query("""select * from PurchasePricesDec where VendorNumber = 4466""", conn)
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [7]:
vendor_invoice = pd.read_sql_query("""select * from InvoicePurchases12312016 where VendorNumber = 4466""", conn)
vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,4466,AMERICAN VINTAGE BEVERAGE,2016-01-07,8137,2015-12-22,2016-02-21,15,140.55,8.57,None
1,4466,AMERICAN VINTAGE BEVERAGE,2016-01-19,8207,2015-12-27,2016-02-26,335,3142.33,16.97,None
2,4466,AMERICAN VINTAGE BEVERAGE,2016-01-18,8307,2016-01-03,2016-02-18,41,383.35,1.99,None
3,4466,AMERICAN VINTAGE BEVERAGE,2016-01-27,8469,2016-01-14,2016-03-11,72,673.20,3.30,None
4,4466,AMERICAN VINTAGE BEVERAGE,2016-02-04,8532,2016-01-19,2016-03-15,79,740.21,3.48,None
5,4466,AMERICAN VINTAGE BEVERAGE,2016-02-09,8604,2016-01-24,2016-03-15,347,3261.37,17.61,None
6,4466,AMERICAN VINTAGE BEVERAGE,2016-02-17,8793,2016-02-05,2016-04-02,72,675.36,3.17,None
7,4466,AMERICAN VINTAGE BEVERAGE,2016-03-01,8892,2016-02-12,2016-03-28,117,1096.05,5.15,None
8,4466,AMERICAN VINTAGE BEVERAGE,2016-03-07,8995,2016-02-19,2016-04-02,129,1209.27,5.44,None
9,4466,AMERICAN VINTAGE BEVERAGE,2016-03-12,9033,2016-02-22,2016-04-16,147,1377.87,6.61,None
10,4466,AMERICAN VINTAGE BEVERAGE,2016-03-16,9180,2016-03-03,2016-04-19,211,1979.33,9.50,None
11,4466,AMERICAN VINTAGE BEVERAGE,2016-03-23,9244,2016-03-08,2016-04-21,161,1510.69,6.95,None
12,4466,AMERICAN VINTAGE BEVERAGE,2016-03-31,9371,2016-03-17,2016-05-13,176,1649.20,8.91,None
13,4466,AMERICAN VINTAGE BEVERAGE,2016-04-09,9491,2016-03-24,2016-05-08,215,2016.43,10.08,None
14,4466,AMERICAN VINTAGE BEVERAGE,2016-04-17,9583,2016-03-31,2016-05-12,110,1035.10,5.69,None
15,4466,AMERICAN VINTAGE BEVERAGE,2016-04-20,9639,2016-04-04,2016-06-04,515,5323.01,25.02,None
16,4466,AMERICAN VINTAGE BEVERAGE,2016-04-29,9800,2016-04-15,2016-06-07,275,2775.01,13.60,None
17,4466,AMERICAN VINTAGE BEVERAGE,2016-05-09,9886,2016-04-21,2016-06-12,312,3050.86,13.73,None
18,4466,AMERICAN VINTAGE BEVERAGE,2016-05-14,9999,2016-04-29,2016-06-26,310,3117.82,14.97,None
19,4466,AMERICAN VINTAGE BEVERAGE,2016-05-16,10095,2016-05-06,2016-06-27,215,2123.01,11.46,None
20,4466,AMERICAN VINTAGE BEVERAGE,2016-05-28,10169,2016-05-11,2016-07-04,327,3298.55,15.83,None
21,4466,AMERICAN VINTAGE BEVERAGE,2016-06-04,10257,2016-05-17,2016-07-08,376,3708.18,20.39,None
22,4466,AMERICAN VINTAGE BEVERAGE,2016-06-12,10346,2016-05-23,2016-07-20,640,6458.38,29.71,None
23,4466,AMERICAN VINTAGE BEVERAGE,2016-06-17,10445,2016-05-30,2016-07-19,288,2937.56,15.86,None
24,4466,AMERICAN VINTAGE BEVERAGE,2016-06-22,10600,2016-06-09,2016-08-01,308,3213.28,17.03,None
25,4466,AMERICAN VINTAGE BEVERAGE,2016-06-29,10695,2016-06-16,2016-08-12,143,1585.75,8.09,None
26,4466,AMERICAN VINTAGE BEVERAGE,2016-07-09,10777,2016-06-22,2016-08-15,18,179.88,0.99,None
27,4466,AMERICAN VINTAGE BEVERAGE,2016-07-08,10836,2016-06-25,2016-08-14,8,85.96,0.43,None
28,4466,AMERICAN VINTAGE BEVERAGE,2016-07-11,10969,2016-06-29,2016-08-18,94,993.12,5.06,None
29,4466,AMERICAN VINTAGE BEVERAGE,2016-07-19,11085,2016-07-06,2016-09-04,601,5883.09,31.18,None
30,4466,AMERICAN VINTAGE BEVERAGE,2016-07-26,11187,2016-07-14,2016-08-26,1535,15406.69,77.03,None
31,4466,AMERICAN VINTAGE BEVERAGE,2016-08-03,11244,2016-07-18,2016-09-04,266,2888.22,15.31,None
32,4466,AMERICAN VINTAGE BEVERAGE,2016-08-11,11362,2016-07-26,2016-09-24,206,2171.64,11.08,None
33,4466,AMERICAN VINTAGE BEVERAGE,2016-08-18,11489,2016-08-04,2016-09-16,768,7292.98,37.92,None
34,4466,AMERICAN VINTAGE BEVERAGE,2016-08-24,11540,2016-08-08,2016-10-02,1207,12242.43,64.88,None
35,4466,AMERICAN VINTAGE BEVERAGE,2016-09-02,11716,2016-08-19,2016-09-29,433,4334.43,20.37,None
36,4466,AMERICAN VINTAGE BEVERAGE,2016-09-12,11771,2016-08-23,2016-10-11,370,3640.18,18.20,None
37,4466,AMERICAN VINTAGE BEVERAGE,2016-09-20,11901,2016-09-01,2016-10-30,358,3626.74,16.32,None
38,4466,AMERICAN VINTAGE BEVERAGE,2016-09-25,11993,2016-09-07,2016-10-23,233,2264.85,12.23,None
39,4466,AMERICAN VINTAGE BEVERAGE,2016-10-01,12125,2016-09-16,2016-11-07,284,2813.46,15.47,None
40,4466,AMERICAN VINTAGE BEVERAGE,2016-10-08,12235,2016-09-23,2016-11-20,258,2592.08,11.92,None
41,4466,AMERICAN VINTAGE BEVERAGE,2016-10-09,12253,2016-09-23,2016-11-14,1,11.19,0.05,None
42,4466,AMERICAN VINTAGE BEVERAGE,2016-10-12,12321,2016-09-26,2016-11-19,172,1685.98,7.59,None
43,4466,AMERICAN VINTAGE BEVERAGE,2016-10-20,12466,2016-10-05,2016-11-26,280,2798.60,14.55,None
44,4466,AMERICAN VINTAGE BEVERAGE,2016-10-27,12515,2016-10-09,2016-11-30,178,1763.28,8.64,None
45,4466,AMERICAN VINTAGE BEVERAGE,2016-11-07,12702,2016-10-21,2016-12-11,183,1812.77,8.70,None
46,4466,AMERICAN VINTAGE BEVERAGE,2016-11-12,12752,2016-10-25,2016-12-11,216,2156.16,10.57,None
47,4466,AMERICAN VINTAGE BEVERAGE,2016-11-20,12828,2016-10-30,2016-12-18,262,2597.36,12.99,None
48,4466,AMERICAN VINTAGE BEVERAGE,2016-11-27,12929,2016-11-06,2017-01-04,270,2622.32,12.85,None
49,4466,AMERICAN VINTAGE BEVERAGE,2016-11-28,13092,2016-11-16,2016-12-30,209,2036.17,11.20,None
50,4466,AMERICAN VINTAGE BEVERAGE,2016-12-06,13134,2016-11-20,2017-01-18,305,3018.89,15.70,None
51,4466,AMERICAN VINTAGE BEVERAGE,2016-12-16,13254,2016-11-28,2017-01-13,262,2530.36,11.39,None
52,4466,AMERICAN VINTAGE BEVERAGE,2016-12-26,13432,2016-12-09,2017-01-27,231,2263.43,11.32,None
53,4466,AMERICAN VINTAGE BEVERAGE,2016-12-30,13483,2016-12-13,2017-02-11,221,2178.27,11.33,None
54,4466,AMERICAN VINTAGE BEVERAGE,2017-01-09,13627,2016-12-22,2017-02-05,413,3985.03,19.53,None

In [8]:
sales = pd.read_sql_query("""select * from SalesFINAL12312016 where VendorNo = 4466""", conn)
sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName,SalesYear,SalesMonth
0,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,1/9/2016,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE,None,None
1,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,1/12/2016,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE,None,None
2,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,1/15/2016,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE,None,None
3,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,1/21/2016,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE,None,None
4,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,1/23/2016,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,15_WANBORNE_5215,15,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2/23/2016,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE,None,None
427,15_WANBORNE_5255,15,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2/3/2016,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE,None,None
428,15_WANBORNE_5255,15,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2/23/2016,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE,None,None
429,15_WANBORNE_5255,15,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2/24/2016,1750,1,1.84,4466,AMERICAN VINTAGE BEVERAGE,None,None
430,15_WANBORNE_5255,15,5255,TGI Fridays Ultimte Mudslide,1.75L,2,25.98,12.99,2/27/2016,1750,1,3.67,4466,AMERICAN VINTAGE BEVERAGE,None,None

In [9]:
purchases.groupby(['Brand', 'PurchasePrice'])[['Quantity', 'Dollars']].sum()

                     Quantity   Dollars
Brand PurchasePrice
3140  11.19              4640  51921.60
5215  9.41               4923  46325.43
5255  9.35               6215  58110.25

In [10]:
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [11]:
vendor_invoice['PONumber'].nunique()

55

In [12]:
vendor_invoice.shape

(55, 10)

In [13]:
sales.groupby('Brand')[['SalesDollars', 'SalesPrice', 'SalesQuantity']].sum()

       SalesDollars  SalesPrice  SalesQuantity
Brand
5215        3897.00     2416.14            300
5255        4273.71     3182.55            329

In [14]:
unsold_brands = set(purchases['Brand']) - set(sales['Brand'])
print("Brands purchased but never sold:", unsold_brands)

Brands purchased but never sold: {3140}

- The purchases table contains actual purchase data, including the date of purchase, brands purchased by vendors, the amount paid (in dollars), and the quantity purchased.
- The purchase price column is derived from the purchase_prices table, which provides product-wise actual and purchase prices. Vendor and brand is unique in this table.
- The vendor_invoice table aggregates data from the purchases table, summarizing quantity and dollar amounts, along with an additional column for freight. This table maintains uniqueness based on vendor and PO number.
- The sales table captures actual sales transactions, detailing the brands purchased by vendors, the quantity sold, the selling price, and the revenue earned.

 Creating a summary table:

- purchase transactions made by vendors
- sales transaction data
- freight costs for each vendor
- actual product prices from vendors

In [15]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [16]:
freight_summary = pd.read_sql_query("""
SELECT VendorNumber, VendorName, SUM(Freight) as FreightCost
From InvoicePurchases12312016
Group BY VendorNumber, VendorName""", conn)

In [17]:
freight_summary

     VendorNumber                               VendorName  FreightCost
0               2  IRA GOLDMAN AND WILLIAMS, LLP                  27.08
1              54              AAPER ALCOHOL & CHEMICAL CO         0.48
2              60              ADAMBA IMPORTS INTL INC           367.52
3             105              ALTAMAR BRANDS LLC                 62.39
4             200              AMERICAN SPIRITS EXCHANGE           6.19
..            ...                                      ...          ...
124         98450              Serralles Usa LLC                 856.02
125         99166              STARK BREWING COMPANY             130.09
126        172662                 SWEETWATER FARM                178.34
127        173357              TAMWORTH DISTILLING               202.50
128        201359              FLAVOR ESSENCE INC                  0.09

[129 rows x 3 columns]

In [18]:
pd.read_sql_query("""SELECT
p.VendorNumber,
p.VendorName,
p.Brand,
p.PurchasePrice,
pp.Volume,
pp.Price as ActualPrice,
SUM(p.Quantity) as TotalPurchaseQuantity,
SUM(p.Dollars) as TotalPurchaseDollars
FROM PurchasesFINAL12312016 as p
JOIN PurchasePricesDec as pp
ON p.Brand = pp.Brand
WHERE p.PurchasePrice > 0  
GROUP BY p.VendorNumber, p.VendorName, p.Brand
ORDER BY TotalPurchaseDollars""", conn)
#we dont want records with purchase price as 0 because it doesn't help with our analysis

,VendorNumber,VendorName,Brand,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars
0,7245,PROXIMO SPIRITS INC.,3065,0.71,50,0.99,1,0.71
1,3960,DIAGEO NORTH AMERICA INC,6127,1.47,200,1.99,1,1.47
2,3924,HEAVEN HILL DISTILLERIES,9123,0.74,50,0.99,2,1.48
3,8004,SAZERAC CO INC,5683,0.39,50,0.49,6,2.34
4,9815,WINE GROUP INC,8527,1.32,750,4.99,2,2.64
...,...,...,...,...,...,...,...,...
10687,3960,DIAGEO NORTH AMERICA INC,3545,21.89,1750,29.99,138109,3023206.01
10688,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750,22.99,201682,3261197.94
10689,17035,PERNOD RICARD USA,8068,18.24,1750,24.99,187407,3418303.68
10690,4425,MARTIGNETTI COMPANIES,3405,23.19,1750,28.99,164038,3804041.22
10691,1128,BROWN-FORMAN CORP,1233,26.27,1750,36.99,145080,3811251.60

In [19]:
sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName', 'SalesYear', 'SalesMonth'],
      dtype='object')

In [20]:
pd.read_sql_query("""SELECT 
VendorNO,
Brand,
SUM(SalesDollars) as TotalSalesDollars,
SUM(SalesPrice) as TotalSalesPrice,
SUM(SalesQuantity) as TotalSalesQuantity,
SUM(ExciseTax) as TotalExciseTax
FROM SalesFINAL12312016
GROUP BY VendorNo, Brand
ORDER BY TotalSalesDollars""", conn)

,VendorNo,Brand,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax
0,8004,5287,0.98,0.98,2,0.10
1,3960,3303,0.99,0.99,1,0.05
2,9206,2773,0.99,0.99,1,0.05
3,9625,8872,0.99,0.99,1,0.05
4,3252,3933,1.98,0.99,2,0.10
...,...,...,...,...,...,...
7653,4425,3405,275162.97,52289.50,9203,16909.12
7654,17035,8068,288135.11,48202.30,11189,20557.97
7655,1128,1233,344712.22,64889.97,9578,17598.14
7656,3960,3545,357759.17,52774.51,11883,21833.58
7657,3960,4261,444810.74,43304.31,20226,37163.76

In [22]:
vendor_sales_summary = pd.read_sql_query("""
    WITH FreightSummary AS (
        SELECT
            VendorNumber,
            SUM(Freight) AS FreightCost
        FROM InvoicePurchases12312016
        GROUP BY VendorNumber
    ), 

PurchaseSummary AS (
    SELECT
        p.VendorNumber,
        p.VendorName,
        p.Brand,
        p.Description,
        p.PurchasePrice,
        pp.Price AS ActualPrice,
        pp.Volume,
        SUM(p.Quantity) AS TotalPurchaseQuantity,
        SUM(p.Dollars) AS TotalPurchaseDollars
    FROM PurchasesFINAL12312016 p
    JOIN PurchasePricesDec pp
        ON p.Brand = pp.Brand
    WHERE p.PurchasePrice > 0
    GROUP BY 
        p.VendorNumber,
        p.VendorName,
        p.Brand,
        p.Description,
        p.PurchasePrice,
        pp.Price,
        pp.Volume
),

SalesSummary AS (
    SELECT
        VendorNo,
        Brand,
        SUM(SalesQuantity) AS TotalSalesQuantity,
        SUM(SalesDollars) AS TotalSalesDollars,
        SUM(SalesPrice) AS TotalSalesPrice,
        SUM(ExciseTax) AS TotalExciseTax
    FROM SalesFINAL12312016
    GROUP BY VendorNo, Brand
)
SELECT
    ps.VendorNumber,
    ps.VendorName,
    ps.Brand,
    ps.Description,
    ps.PurchasePrice,
    ps.ActualPrice,
    ps.Volume,
    ps.TotalPurchaseQuantity,
    ps.TotalPurchaseDollars,
    ss.TotalSalesQuantity,
    ss.TotalSalesDollars,
    ss.TotalSalesPrice,
    ss.TotalExciseTax,
    fs.FreightCost
FROM PurchaseSummary ps
LEFT JOIN SalesSummary ss
    ON ps.VendorNumber = ss.VendorNo
    AND ps.Brand = ss.Brand
LEFT JOIN FreightSummary fs
    ON ps.VendorNumber = fs.VendorNumber
ORDER BY ps.TotalPurchaseDollars DESC""", conn)

In [23]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,145080,3811251.60,9578.0,344712.22,64889.97,17598.14,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,164038,3804041.22,9203.0,275162.97,52289.50,16909.12,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750,187407,3418303.68,11189.0,288135.11,48202.30,20557.97,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,201682,3261197.94,20226.0,444810.74,43304.31,37163.76,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750,138109,3023206.01,11883.0,357759.17,52774.51,21833.58,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750,2,2.64,3.0,5.97,5.97,0.33,27100.41
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50,6,2.34,128.0,62.72,0.98,6.72,50293.62
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50,2,1.48,NaN,NaN,NaN,NaN,14069.87
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200,1,1.47,6.0,11.94,7.96,1.26,257032.07
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50,1,0.71,81.0,80.19,29.70,4.21,38994.78

In [24]:
#Next we will check whether our data is clean or not

In [25]:
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
PurchasePrice            float64
ActualPrice              float64
Volume                    object
TotalPurchaseQuantity      int64
TotalPurchaseDollars     float64
TotalSalesQuantity       float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalExciseTax           float64
FreightCost              float64
dtype: object

In [26]:
vendor_sales_summary.isnull().sum()

VendorNumber                0
VendorName                  0
Brand                       0
Description                 0
PurchasePrice               0
ActualPrice                 0
Volume                      0
TotalPurchaseQuantity       0
TotalPurchaseDollars        0
TotalSalesQuantity       3548
TotalSalesDollars        3548
TotalSalesPrice          3548
TotalExciseTax           3548
FreightCost                 0
dtype: int64

In [27]:
# 4 columns have 3548 missing values, this means that products are ones which were bought by the vendor but not sold
#Volume is an integer, but above we saw volume's datatype was object; we need to convert it

In [28]:
vendor_sales_summary.head()

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,145080,3811251.60,9578.0,344712.22,64889.97,17598.14,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,164038,3804041.22,9203.0,275162.97,52289.50,16909.12,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750,187407,3418303.68,11189.0,288135.11,48202.30,20557.97,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,201682,3261197.94,20226.0,444810.74,43304.31,37163.76,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750,138109,3023206.01,11883.0,357759.17,52774.51,21833.58,257032.07

In [29]:
vendor_sales_summary['VendorName'].unique()

array(['BROWN-FORMAN CORP          ', 'MARTIGNETTI COMPANIES',
       'PERNOD RICARD USA          ', 'DIAGEO NORTH AMERICA INC   ',
       'BACARDI USA INC            ', 'JIM BEAM BRANDS COMPANY    ',
       'MAJESTIC FINE WINES        ', 'ULTRA BEVERAGE COMPANY LLP ',
       'STOLI GROUP,(USA) LLC      ', 'PROXIMO SPIRITS INC.       ',
       'MOET HENNESSY USA INC      ', 'CAMPARI AMERICA            ',
       'SAZERAC CO INC             ', 'CONSTELLATION BRANDS INC   ',
       'M S WALKER INC             ', 'SAZERAC NORTH AMERICA INC. ',
       'PALM BAY INTERNATIONAL INC ', 'REMY COINTREAU USA INC     ',
       'SIDNEY FRANK IMPORTING CO  ', 'E & J GALLO WINERY         ',
       'WILLIAM GRANT & SONS INC   ', 'HEAVEN HILL DISTILLERIES   ',
       'DISARONNO INTERNATIONAL LLC', 'EDRINGTON AMERICAS         ',
       'CASTLE BRANDS CORP.        ', 'SOUTHERN WINE & SPIRITS NE ',
       'STE MICHELLE WINE ESTATES  ', 'TRINCHERO FAMILY ESTATES   ',
       'MHW LTD                    ', 'WINE GROUP INC             ',
       'PERFECTA WINES             ', 'LUXCO INC                  ',
       'TREASURY WINE ESTATES      ', 'DIAGEO CHATEAU ESTATE WINES',
       'SHAW ROSS INT L IMP LTD    ', 'PINE STATE TRADING CO      ',
       'PHILLIPS PRODUCTS CO.      ', 'CALEDONIA SPIRITS INC      ',
       'STATE WINE & SPIRITS   ', 'KOBRAND CORPORATION        ',
       'BANFI PRODUCTS CORP        ', 'VINEYARD BRANDS INC        ',
       'DELICATO VINEYARDS INC     ', 'FABRIZIA SPIRITS LLC       ',
       'DUGGANS DISTILLED PRODUCTS ', 'Serralles Usa LLC          ',
       'SEA HAGG DISTILLERY LLC    ', 'OLE SMOKY DISTILLERY LLC   ',
       'VRANKEN AMERICA            ', 'KLIN SPIRITS LLC           ',
       'LAIRD & CO                 ', 'ADAMBA IMPORTS INTL INC    ',
       'LATITUDE BEVERAGE COMPANY  ', 'FREDERICK WILDMAN & SONS   ',
       'MCCORMICK DISTILLING CO    ', 'CHARLES JACQUIN ET CIE INC ',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY           ',
       'AMERICAN VINTAGE BEVERAGE  ', 'MANGO BOTTLING INC         ',
       'SWEET BABY VINEYARD        ', 'NICHE W & S                ',
       'LABELLE VYDS AND WINERY    ', 'FLAG HILL WINERY & VINEYARD',
       'SMOKY QUARTZ DISTILLERY LLC', 'PREMIUM PORT WINES, INC.   ',
       'Russian Standard Vodka     ', 'Dunn Wine Brokers          ',
       'WEIN BAUER INC             ', 'BULLY BOY DISTILLERS       ',
       'ATLANTIC IMPORTING COMPANY ', 'PREMIER DISTRIBUTORS       ',
       'VINILANDIA USA             ', 'PARK STREET IMPORTS LLC    ',
       'TAKARA SAKE USA INC        ', 'SEA BREEZE CELLARS LLC     ',
       'STARK BREWING COMPANY      ', 'TY KU LLC                  ',
       'PSP WINES ', 'TAMWORTH DISTILLING        ',
       'ZORVINO VINEYARDS          ', 'SOUTHERN GLAZERS W&S OF NE ',
       'HOOD RIVER DISTILLERS, Inc.', 'CRUSH WINES                ',
       'POVERTY LANE ORCHARDS      ', 'DJINN SPIRITS LLC          ',
       'MOONLIGHT MEADERY          ', 'TALL SHIP DISTILLERY LLC   ',
       'FORTUNE WINE BROKERS LLC   ', 'BLACK COVE BEVERAGES       ',
       'VINEXTRA INC               ', 'SURVILLE ENTERPRISES CORP  ',
       'JEWELL TOWNE VINEYARDS     ', 'SWEETWATER FARM         ',
       'MARTIGNETTI COMPANIES ', 'ALTAMAR BRANDS LLC         ',
       'CANDIA VINEYARDS           ', 'INCREDIBREW INC            ',
       'ALISA CARR BEVERAGES           ', 'STELLAR IMPORTING CO LLC   ',
       'FULCHINO VINEYARD INC      ',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'Circa Wines                ', 'VINEDREA WINES LLC         ',
       'BLACK PRINCE DISTILLERY INC', 'VINEYARD BRANDS LLC        ',
       'THE IMPORTED GRAPE LLC     ', 'WALPOLE MTN VIEW WINERY    ',
       'GILMANTON WINERY & VINEYARD', 'HAUNTING WHISPER VYDS      ',
       'STAR INDUSTRIES INC.       ', 'LOYAL DOG WINERY           ',
       'R.P.IMPORTS INC            ', 'THE PIERPONT GROUP LLC     ',
       'APPOLO VINEYARDS LLC       ', 'BLACK ROCK SPIRITS LLC     ',
       'CENTEUR IMPORTS LLC        ', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE  ', 'UNCORKED       ',
       'BRONCO WINE COMPANY        ', 'MILTONS DISTRIBUTING CO    ',
       'TRUETT HURST               ', 'LAUREATE IMPORTS CO        ',
       'FANTASY FINE WINES CORP    ', 'AAPER ALCOHOL & CHEMICAL CO',
       'SILVER MOUNTAIN CIDERS     ', 'CAPSTONE INTERNATIONAL     ',
       'FLAVOR ESSENCE INC         '], dtype=object)

In [30]:
#There are irrelevant white spaces infront of every name which we need to remove

In [31]:
vendor_sales_summary['Description'].unique()

array(['Jack Daniels No 7 Black', "Tito's Handmade Vodka",
       'Absolut 80 Proof', ..., 'Crown Royal Apple',
       'Concannon Glen Ellen Wh Zin', 'The Club Strawbry Margarita'],
      dtype=object)

In [32]:
#No irrelevant spaces seen here so it's good

In [33]:
vendor_sales_summary['Volume']=vendor_sales_summary['Volume'].astype('float64')

In [34]:
vendor_sales_summary.fillna(0, inplace= True)

In [35]:
vendor_sales_summary['VendorName'] = vendor_sales_summary['VendorName'].str.strip()
#to remove white spaces

In [36]:
#Now we need to make columns to help us analyse better, so we create new columns like grossprofit etc

In [37]:
vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesDollars'] - vendor_sales_summary['TotalPurchaseDollars']

In [38]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,9578.0,344712.22,64889.97,17598.14,68601.68,-3466539.38
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,9203.0,275162.97,52289.50,16909.12,144929.24,-3528878.25
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,11189.0,288135.11,48202.30,20557.97,123780.22,-3130168.57
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,20226.0,444810.74,43304.31,37163.76,257032.07,-2816387.20
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,11883.0,357759.17,52774.51,21833.58,257032.07,-2665446.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750.0,2,2.64,3.0,5.97,5.97,0.33,27100.41,3.33
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6,2.34,128.0,62.72,0.98,6.72,50293.62,60.38
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2,1.48,0.0,0.00,0.00,0.00,14069.87,-1.48
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200.0,1,1.47,6.0,11.94,7.96,1.26,257032.07,10.47
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1,0.71,81.0,80.19,29.70,4.21,38994.78,79.48

In [39]:
vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit']/vendor_sales_summary['TotalSalesDollars'])*100

In [40]:
vendor_sales_summary['StockTurnover'] = vendor_sales_summary['TotalSalesQuantity']/vendor_sales_summary['TotalPurchaseQuantity']

In [41]:
vendor_sales_summary['SalestoPurchaseRatio'] = vendor_sales_summary['TotalSalesDollars']/vendor_sales_summary['TotalPurchaseDollars']

In [42]:
#Contribution to overall sales
total_sales = vendor_sales_summary['TotalSalesDollars'].sum()
vendor_sales_summary['SalesContributionPercent'] = vendor_sales_summary['TotalSalesDollars'] / total_sales * 100

In [43]:
#Ranking each vendor based on adding specific parameters

rank_sales = vendor_sales_summary['TotalSalesDollars'].rank(method='dense', ascending=False)
rank_profit = vendor_sales_summary['GrossProfit'].rank(method='dense', ascending=False)
rank_margin = vendor_sales_summary['ProfitMargin'].rank(method='dense', ascending=False)
rank_stock = vendor_sales_summary['StockTurnover'].rank(method='dense', ascending=False)

overall_score = rank_sales + rank_profit + rank_margin + rank_stock

vendor_sales_summary['VendorRanking'] = overall_score.rank(method='dense', ascending=True)

In [44]:
# Get top 10 ranked vendors (lowest vendor_ranking = best)
top_10_vendors = vendor_sales_summary.sort_values(by='VendorRanking', ascending=True).head(10)

print(top_10_vendors[['VendorNumber', 'VendorName', 'VendorRanking']].to_string( index=False))

 VendorNumber                  VendorName  VendorRanking
         9165  ULTRA BEVERAGE COMPANY LLP            1.0
         9552              M S WALKER INC            2.0
         4425       MARTIGNETTI COMPANIES            3.0
          653        STATE WINE & SPIRITS            4.0
        90024              VINILANDIA USA            5.0
         9552              M S WALKER INC            6.0
         2555 DISARONNO INTERNATIONAL LLC            7.0
         9552              M S WALKER INC            8.0
         1128           BROWN-FORMAN CORP            9.0
        10754              PERFECTA WINES           10.0

In [45]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalestoPurchaseRatio,SalesContributionPercent,VendorRanking
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,9578.0,344712.22,64889.97,17598.14,68601.68,-3466539.38,-1005.632867,0.066019,0.090446,1.043491,4344.0
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,9203.0,275162.97,52289.50,16909.12,144929.24,-3528878.25,-1282.468440,0.056103,0.072334,0.832956,5247.0
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,11189.0,288135.11,48202.30,20557.97,123780.22,-3130168.57,-1086.354443,0.059704,0.084292,0.872224,4734.0
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,20226.0,444810.74,43304.31,37163.76,257032.07,-2816387.20,-633.165287,0.100287,0.136395,1.346503,2946.0
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,11883.0,357759.17,52774.51,21833.58,257032.07,-2665446.84,-745.039419,0.086041,0.118338,1.082986,3402.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750.0,2,2.64,3.0,5.97,5.97,0.33,27100.41,3.33,55.778894,1.500000,2.261364,0.000018,673.0
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6,2.34,128.0,62.72,0.98,6.72,50293.62,60.38,96.269133,21.333333,26.803419,0.000190,487.0
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2,1.48,0.0,0.00,0.00,0.00,14069.87,-1.48,-inf,0.000000,0.000000,0.000000,4405.0
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200.0,1,1.47,6.0,11.94,7.96,1.26,257032.07,10.47,87.688442,6.000000,8.122449,0.000036,578.0
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1,0.71,81.0,80.19,29.70,4.21,38994.78,79.48,99.114603,81.000000,112.943662,0.000243,450.0

In [46]:
cursor = conn.cursor()

In [47]:
cursor.execute("""
CREATE TABLE vendor_sales_summary (
    VendorNumber INT,
    VendorName VARCHAR(100),
    Brand INT,
    Description VARCHAR(100),
    PurchasePrice DECIMAL(10,2),
    ActualPrice DECIMAL(10,2),
    Volume,
    TotalPurchaseQuantity INT,
    TotalPurchaseDollars DECIMAL(15,2),
    TotalSalesQuantity INT,
    TotalSalesDollars DECIMAL(15,2),
    TotalSalesPrice DECIMAL(15,2),
    TotalExciseTax DECIMAL(15,2),
    FreightCost DECIMAL(15,2),
    GrossProfit DECIMAL(15,2),
    ProfitMargin DECIMAL(15,2),
    StockTurnover DECIMAL(15,2),
    SalesToPurchaseRatio DECIMAL(15,2),
    SalesContributionPercent DECIMAL(5,2),
    VendorRanking INT,
    PRIMARY KEY (VendorNumber, Brand)
);
""")

OperationalError: table vendor_sales_summary already exists

In [47]:
# This will create the table with all columns
vendor_sales_summary.to_sql('vendor_sales_summary', conn, if_exists='replace', index=False)

10692

In [48]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesDollars,TotalSalesPrice,TotalExciseTax,FreightCost,GrossProfit,ProfitMargin,StockTurnover,SalestoPurchaseRatio,SalesContributionPercent,VendorRanking
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,9578.0,344712.22,64889.97,17598.14,68601.68,-3466539.38,-1005.632867,0.066019,0.090446,1.043491,4344.0
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,9203.0,275162.97,52289.50,16909.12,144929.24,-3528878.25,-1282.468440,0.056103,0.072334,0.832956,5247.0
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,11189.0,288135.11,48202.30,20557.97,123780.22,-3130168.57,-1086.354443,0.059704,0.084292,0.872224,4734.0
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,20226.0,444810.74,43304.31,37163.76,257032.07,-2816387.20,-633.165287,0.100287,0.136395,1.346503,2946.0
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,11883.0,357759.17,52774.51,21833.58,257032.07,-2665446.84,-745.039419,0.086041,0.118338,1.082986,3402.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750.0,2,2.64,3.0,5.97,5.97,0.33,27100.41,3.33,55.778894,1.500000,2.261364,0.000018,673.0
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6,2.34,128.0,62.72,0.98,6.72,50293.62,60.38,96.269133,21.333333,26.803419,0.000190,487.0
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2,1.48,0.0,0.00,0.00,0.00,14069.87,-1.48,-inf,0.000000,0.000000,0.000000,4405.0
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200.0,1,1.47,6.0,11.94,7.96,1.26,257032.07,10.47,87.688442,6.000000,8.122449,0.000036,578.0
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1,0.71,81.0,80.19,29.70,4.21,38994.78,79.48,99.114603,81.000000,112.943662,0.000243,450.0

In [49]:
import sqlite3
import pandas as pd
import logging
from ingestion_db import ingest_db

# Set up logging
logging.basicConfig(
    filename="logs/get_vendor_summary.log",
    level=logging.DEBUG,
    format="%(asctime)s - %(levelname)s - %(message)s",
    filemode="a",
    force = True
)

def create_vendor_summary(conn):
    """
    Merge different tables to get the overall vendor summary
    """
    vendor_sales_summary = pd.read_sql_query("""
    WITH FreightSummary AS (
        SELECT
            VendorNumber,
            SUM(Freight) AS FreightCost
        FROM InvoicePurchases12312016
        GROUP BY VendorNumber
    ), 

    PurchaseSummary AS (
        SELECT
            p.VendorNumber,
            p.VendorName,
            p.Brand,
            p.Description,
            p.PurchasePrice,
            pp.Price AS ActualPrice,
            pp.Volume,
            SUM(p.Quantity) AS TotalPurchaseQuantity,
            SUM(p.Dollars) AS TotalPurchaseDollars
        FROM PurchasesFINAL12312016 p
        JOIN PurchasePricesDec pp
            ON p.Brand = pp.Brand
        WHERE p.PurchasePrice > 0
        GROUP BY 
            p.VendorNumber,
            p.VendorName,
            p.Brand,
            p.Description,
            p.PurchasePrice,
            pp.Price,
            pp.Volume
    ),

    SalesSummary AS (
        SELECT
            VendorNo,
            Brand,
            SUM(SalesQuantity) AS TotalSalesQuantity,
            SUM(SalesDollars) AS TotalSalesDollars,
            SUM(SalesPrice) AS TotalSalesPrice,
            SUM(ExciseTax) AS TotalExciseTax
        FROM SalesFINAL12312016
        GROUP BY VendorNo, Brand
    )

    SELECT
        ps.VendorNumber,
        ps.VendorName,
        ps.Brand,
        ps.Description,
        ps.PurchasePrice,
        ps.ActualPrice,
        ps.Volume,
        ps.TotalPurchaseQuantity,
        ps.TotalPurchaseDollars,
        ss.TotalSalesQuantity,
        ss.TotalSalesDollars,
        ss.TotalSalesPrice,
        ss.TotalExciseTax,
        fs.FreightCost
    FROM PurchaseSummary ps
    LEFT JOIN SalesSummary ss
        ON ps.VendorNumber = ss.VendorNo
        AND ps.Brand = ss.Brand
    LEFT JOIN FreightSummary fs
        ON ps.VendorNumber = fs.VendorNumber
    ORDER BY ps.TotalPurchaseDollars DESC
    """, conn)

    return vendor_sales_summary


def clean_data(df):
    """
    Clean and enhance vendor data for analysis
    """
    df['Volume'] = df['Volume'].astype(float)

    df.fillna(0, inplace=True)

    df['VendorName'] = df['VendorName'].str.strip()
    df['Description'] = df['Description'].str.strip()

    # Calculated columns
    df['GrossProfit'] = df['TotalSalesDollars'] - df['TotalPurchaseDollars']
    df['ProfitMargin'] = (df['GrossProfit'] / df['TotalSalesDollars']) * 100
    df['StockTurnover'] = df['TotalSalesQuantity'] / df['TotalPurchaseQuantity']
    df['SalesToPurchaseRatio'] = df['TotalSalesDollars'] / df['TotalPurchaseDollars']

    total_sales = df['TotalSalesDollars'].sum()
    df['SalesContributionPercent'] = (df['TotalSalesDollars'] / total_sales) * 100

    # Ranking
    rank_sales = df['TotalSalesDollars'].rank(method='dense', ascending=False)
    rank_profit = df['GrossProfit'].rank(method='dense', ascending=False)
    rank_margin = df['ProfitMargin'].rank(method='dense', ascending=False)
    rank_stock = df['StockTurnover'].rank(method='dense', ascending=False)

    overall_score = rank_sales + rank_profit + rank_margin + rank_stock
    df['VendorRanking'] = overall_score.rank(method='dense', ascending=True)

    return df


if __name__ == '__main__':
    # Create DB connection
    conn = sqlite3.connect('inventory.db')

    logging.info('Creating Vendor summary table...')
    summary_df = create_vendor_summary(conn)
    logging.info("\n" + str(summary_df.head()))

    logging.info('Cleaning Data...')
    clean_df = clean_data(summary_df)
    logging.info("\n" + str(clean_df.head()))

    logging.info('Ingesting data...')
    ingest_db(clean_df, 'vendor_sales_summary', conn)
    logging.info('Completed')